<%- include('partials/header') %>

<div class="container mt-5">
    <h2 style="text-align: left;">Token No. - 337</h2>
    <br>
    <h1 style="text-align: center;">User Panel</h1>
    <br><br>
  
    <div class="row justify-content-center">
      <div class="col-10">
        <!-- <div class="card"> -->
          <!-- <div class="card-body"> -->
  
              <div class="userdetail">
                <h4><b>Full name</b> : Lorem Ipsum</h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Contact Number</b> : 96745 38567</h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Age</b> : 32</h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Blood Group</b> : A+</h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Email ID </b>: unknown@gmail.com</h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Password </b>: loremipsum</h4>
                <hr>
              </div>
              
              <div class="userdetail">
                <h4><b>Residential Address </b>: loremipsum</h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Adhaar card number</b> : 9999 9999 9999</h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Signature </b>: </h4>
                <hr>
              </div>
              
              <br>
              <br>

              <button type="submit" id="emergency_request" class="btn btn-success btn-lg">Send Emergency Request</button>
            </form>
  
          </div>
        </div>
      </div>
  
    <!-- </div>
  </div> -->
  <br>
  <br>
  <br>

<%- include('partials/footer') %>